{% extends "base.html" %}
{% block content %}
<!-- show all books -->
<div class="column is-4 is-offset-4">
    <h3 class="title">All Books</h3>
    <a href="{{ url_for('books.create_book') }}" class="button is-block is-info is-large is-fullwidth">Create New Book</a>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.price }}</td>

                    <td>
                        <a href="{{ url_for('books.show_book', id=book.id) }}">Show</a>
                        {% if current_user.id == book.user_id %}
                        <a href="{{ url_for('books.edit_book', id=book.id) }}">Edit</a>
                        <form action="{{ url_for('books.delete_book', id=book.id) }}" method="post">
                            <button type="submit">Delete</button>
                        </form>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
