{% extends "base.html" %}
{% block content %}

<!-- show book create form with flash message -->
<div class="column is-4 is-offset-4">
    <h3 class="title">Create New Book</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('books.books') }}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="title" placeholder="Title" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="author" placeholder="Author">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="year" placeholder="Year">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="price" placeholder="Price">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Create</button>
        </form>
    </div>
</div>
{% endblock %}
